body {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
  padding: 10px 20px;
}

header {
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #EAEAEA;
  padding-top: 10px;
  font-size: 12px;
}

header a,
header button {
  margin: 0 20px 0 0;
}

header button {
  font-size: 16px;
  border: 1px solid #E10000;
  border-radius: 2px;
  background-color: #C53030;
  color: #fff;
  cursor: pointer;
}

header button:hover {
  opacity: 0.7;
}

.blog-titles li {
  margin: 5px 0;
}

.blog-titles li a {
  text-decoration: none;
}

.post h2 {
  margin: 10px 0 0 0;
}

.post h4 {
  margin: 20px 0 5px 0;
}

.post .comments {
  margin: 0 0 0 10px;
}